html {
  scroll-behavior: smooth;
  scroll-padding-top: ($navbar-height + 20px);
}

body {
  overflow-x: hidden; // fullwidth sometimes create a small bug
  //width: 100vw;
}

li {
  margin: 0.3rem 0;
}

// todo suggest a PR to bs
.input-group > :not(:first-child):not(.dropdown-menu) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input-group > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group > .dropdown-toggle:nth-last-child(n + 3) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
